/* Responsive
================================================== */
.closemenu {
  width: 40px;
  height: 40px;
  background: #b79a5e;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  display: none;
  z-index: 999;
}
.closemenu:before {
  content: "\f00d";
  font-family: "FontAwesome";
  color: white;
  font-size: 20px;
}
#triggermenu {
  display: none;
  float: right;
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2px 0 0;
  padding: 5px 12px;
  transition: all 200ms linear;
  background: #222;
  cursor: pointer;
}
#triggermenu:hover {
  background: #b79a5e;
  color: white;
}
.openmenu #triggermenu {
  color: #b79a5e;
}
.openmenu #triggermenu:hover {
  color: white;
}
#triggermenu:before {
  font-family: 'FontAwesome';
  content: "\f0c9";
  margin-right: 10px;
  font-weight: normal;
  width: 14px;
  display: inline-block;
}
.openmenu #triggermenu:before {
  content: "\f00d";
}
@media (max-width: 1729.98px) {
  header {
    padding: 40px 0 0 15px;
  }
  header .header-menu li:last-child {
    margin-right: 15px;
  }
  header.fixed {
    padding: 10px 0 10px 10px;
  }
  header .col-lg-2 {
    flex: 0 0 auto;
    width: 120px;
  }
  header .col-lg-10 {
    flex: 0 0 auto;
    width: calc(100% - 120px);
  }
}
@media (max-width: 1632px) {
  #page ul.programs.jesion-programs li .desc p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 1449.98px) {
  #howtobuy .container {
    padding: 0 30px;
  }
  #mainwhy .why-carousel-apla h2 {
    font-size: 20px;
  }
  #mainwhy .why-carousel-apla p {
    font-size: 12px;
    line-height: 16px;
  }
}
/* end of 1479.98 */
@media (max-width: 1529.98px) {
  header .header-menu li {
    margin-right: 24px;
  }
  header .header-menu li a {
    font-size: 15px;
  }
  header .header-menu .header-cta a {
    padding: 0 20px 0 45px;
    font-size: 15px;
  }
  header .header-menu .submenu {
    width: 250px;
  }
}
@media (max-width: 1399.98px) {
  #page ul.programs.jesion-programs li .desc p {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 1389.98px) {
  header {
    padding: 20px 20px 0;
  }
  header li.header-cta {
    margin-right: 0;
  }
  #pagecontent header #logo img,
  header #logo img {
    width: 100px;
  }
  #page-header {
    height: 320px;
  }
  #page-header h1 {
    font-size: 80px;
    margin-bottom: 0;
  }
  #page-header .breadcrumb {
    margin-bottom: 30px;
  }
  #maincontact .maincontact-row .maincontact-item {
    padding: 40px 30px;
  }
  #maincontact .maincontact-row a {
    font-size: 30px;
  }
  #maininvestor .maininvestor-text {
    padding-left: 20px;
  }
  #maininvestor .maininvestor-text img {
    width: 149px;
    margin-bottom: 15px;
  }
  #maininvestor .maininvestor-text h2 {
    font-size: 37px;
    margin-bottom: 15px;
  }
  #maininvestor .maininvestor-text p {
    font-size: 16px;
    line-height: 25px;
  }
  #swipebox-close {
    top: 70px;
  }
}
/* end of 1199.98 */
/* end of 991.98 */
/* end of 767.98 */
/* end of 575.98 */
/* end of 359.98 */
/* end of 359.98 */
/*# sourceMappingURL=responsive.css.map */